{% extends "base.html" %}
{% block content %}
    <h2 class="mb-3">Dashboard</h2>
    
    <br>
    <div class="mb-4">
        <h4 class="text-primary">Containers</h4>
        <table class="table table-striped table-responsive-md btn-table">
            <thead>
              <tr>
                <th>#</th>
                <th>App name</th>
                <th>Image</th>
                <th>State</th>
                <th>Ports</th>
                <th>Cmd</th>
              </tr>
            </thead>
            <tbody>
                {% for container in containers %}
                    <tr>
                        <td scope="row">{{ loop.index }}</td>
                        <td>{{ container.name }}</td>
                        <td>{{ container.image }}</td>
                        <td>
                            {% if container.status == 'running' %}
                                <a class="text-success">{{container.status}}</a>
                            {% else %}
                                <a class="text-danger">{{container.status}}</a>
                            {% endif %}
                        </td>
                        <td>{{ container.ports }}</td>
                        <td>
                            {% if container.status == 'running' %}
                                <button onclick="window.location.href='/stopContainer?container_id={{ container.id }}'" type="button" class="btn btn-primary">Stop</button>
                            {% else %}
                                <button onclick="window.location.href='/startContainer?container_id={{ container.id }}'" type="button" class="btn btn-primary">Start</button>
                                <button onclick="window.location.href='/deleteContainer?container_id={{ container.id }}'" type="button" class="btn btn-danger">Delete</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
{% endblock %}